<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-init-method="myInit" default-destroy-method="myCleanUp">
	<bean id="tri" class="org.suraj.model.Triangle" autowire="byName">
		<property name="p1" ref="zeroPoint"/>
	</bean>
	
	<bean id="tri-point-list" class="org.suraj.model.TrianglePointList">
		<property name="points">
			<list>
				<ref bean="zeroPoint"/>
				<ref bean="p2"/>
				<ref bean="p3"/>
			</list>
		</property>
	</bean>
	
	<import resource="points.xml"/>
	
	<bean class="org.suraj.service.PostPreProcessing"/>
</beans>

