<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	
	<bean id="tri" class="org.suraj.model.Triangle" scope="prototype">
		<property name="p1" ref="zeroPoint"/>
		<property name="p2" ref="p2"/>
		<property name="p3" ref="p3"/>
	</bean>

	<bean id="zeroPoint" class="org.suraj.model.Point" scope="prototype">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="p2" class="org.suraj.model.Point" scope="prototype">
		<property name="x" value="10"/>
		<property name="y" value="20"/>
	</bean>
	
	<bean id="p3" class="org.suraj.model.Point" scope="prototype">
		<property name="x" value="-40"/>
		<property name="y" value="-30"/>
	</bean>
	
	
</beans>

